@charset "UTF-8";
@font-face {
  font-family: Sriracha;
  src: url(fonts/Sriracha-Regular.ttf);
}
body{
	background-color: rgb(255,166,0);
}
header h1{
	text-align:center;
	color:white;
	font-family: 'Sriracha', cursive;
}
main.bgazul{
	background-color: lightblue;
}

li{
	border: black 1px solid;
	display: inline;
}
#a1{
	background-color: white;
}

p.txt1{
	color:blue;
	border-top:solid blue 20px;
	border-bottom:solid blue 20px;
	display: inline-block;
	min-height:190px;
	
}
p.txt2{
color:red;
min-height:148px;
margin-bottom:0%;
border-top:solid red 20px;
border-bottom:solid red 20px;
	
}
img#steve{
float:left;
margin-top: -20px;
}
img#mac{
float: right;
margin-top:-20px;
}
footer{
	background-color: salmon;
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
	
}
span#resaltado{
	background-color:yellow;
}
span#tachado{
	text-decoration:line-through;
}
hr{
	color:white;
}